-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: gdms_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `admin_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `access_level` int DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`admin_id`),
  CONSTRAINT `admins_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `admins_chk_1` CHECK ((`access_level` in (1,2)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES ('ADM_MNTWC838I99V0',1,'2026-04-11 05:30:41');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cheque_payments`
--

DROP TABLE IF EXISTS `cheque_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cheque_payments` (
  `cheque_payment_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cheque_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cheque_date` date NOT NULL,
  `bank_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `branch_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `clearance_status` enum('PENDING','CLEARED','RETURNED','CANCELLED') COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING',
  `clearance_date` date DEFAULT NULL,
  `returned_date` date DEFAULT NULL,
  `return_reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`cheque_payment_id`),
  KEY `idx_cheque_number` (`cheque_number`),
  KEY `idx_clearance` (`clearance_status`),
  CONSTRAINT `cheque_payments_ibfk_1` FOREIGN KEY (`cheque_payment_id`) REFERENCES `payments` (`payment_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cheque_payments`
--

LOCK TABLES `cheque_payments` WRITE;
/*!40000 ALTER TABLE `cheque_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `cheque_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_settlements`
--

DROP TABLE IF EXISTS `credit_settlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_settlements` (
  `settlement_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `credit_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `settlement_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `amount` decimal(12,2) NOT NULL,
  `collected_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`settlement_id`),
  KEY `collected_by` (`collected_by`),
  KEY `idx_credit` (`credit_id`),
  KEY `idx_payment` (`payment_id`),
  KEY `idx_date` (`settlement_date`),
  CONSTRAINT `credit_settlements_ibfk_1` FOREIGN KEY (`credit_id`) REFERENCES `credit_transactions` (`credit_id`) ON DELETE CASCADE,
  CONSTRAINT `credit_settlements_ibfk_2` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`payment_id`),
  CONSTRAINT `credit_settlements_ibfk_3` FOREIGN KEY (`collected_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_settlements`
--

LOCK TABLES `credit_settlements` WRITE;
/*!40000 ALTER TABLE `credit_settlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_settlements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_transactions`
--

DROP TABLE IF EXISTS `credit_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_transactions` (
  `credit_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dealer_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'One credit record per invoice',
  `credit_amount` decimal(12,2) NOT NULL COMMENT 'Original invoice amount',
  `due_date` date NOT NULL COMMENT 'Payment due date (invoice_date + payment_terms_days)',
  `settled_amount` decimal(12,2) DEFAULT '0.00' COMMENT 'Amount paid so far',
  `remaining_balance` decimal(12,2) NOT NULL COMMENT 'Outstanding amount',
  `status` enum('PENDING','OVERDUE') COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING' COMMENT 'PENDING=within due date, OVERDUE=past due date',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`credit_id`),
  UNIQUE KEY `invoice_id` (`invoice_id`),
  KEY `idx_dealer` (`dealer_id`),
  KEY `idx_invoice` (`invoice_id`),
  KEY `idx_status` (`status`),
  KEY `idx_due_date` (`due_date`),
  CONSTRAINT `credit_transactions_ibfk_1` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`dealer_id`),
  CONSTRAINT `credit_transactions_ibfk_2` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`invoice_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_transactions`
--

LOCK TABLES `credit_transactions` WRITE;
/*!40000 ALTER TABLE `credit_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `damage_inventory`
--

DROP TABLE IF EXISTS `damage_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `damage_inventory` (
  `damage_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity_damaged` int NOT NULL COMMENT 'Number of damaged cylinders',
  `dispatch_id` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Auto-filled if supervisor reports damage during dispatch',
  `dealer_id` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'If damage reported at dealer location',
  `damage_reason` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Description of damage from UI form',
  `reported_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'User who reported the damage',
  `reported_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`damage_id`),
  KEY `reported_by` (`reported_by`),
  KEY `idx_product` (`product_id`),
  KEY `idx_dispatch` (`dispatch_id`),
  KEY `idx_dealer` (`dealer_id`),
  KEY `idx_reported_date` (`reported_date`),
  CONSTRAINT `damage_inventory_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`),
  CONSTRAINT `damage_inventory_ibfk_2` FOREIGN KEY (`dispatch_id`) REFERENCES `dispatches` (`dispatch_id`) ON DELETE SET NULL,
  CONSTRAINT `damage_inventory_ibfk_3` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`dealer_id`) ON DELETE SET NULL,
  CONSTRAINT `damage_inventory_ibfk_4` FOREIGN KEY (`reported_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `damage_inventory`
--

LOCK TABLES `damage_inventory` WRITE;
/*!40000 ALTER TABLE `damage_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `damage_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealers`
--

DROP TABLE IF EXISTS `dealers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dealers` (
  `dealer_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dealer_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `contact_number` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alternative_contact` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `route` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `credit_limit` decimal(12,2) NOT NULL DEFAULT '0.00',
  `current_credit` decimal(12,2) NOT NULL DEFAULT '0.00',
  `payment_terms_days` int DEFAULT '30',
  `status` enum('ACTIVE','INACTIVE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `created_by` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`dealer_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_dealer_name` (`dealer_name`),
  KEY `idx_contact` (`contact_number`),
  KEY `idx_status` (`status`),
  KEY `idx_route` (`route`),
  CONSTRAINT `dealers_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealers`
--

LOCK TABLES `dealers` WRITE;
/*!40000 ALTER TABLE `dealers` DISABLE KEYS */;
/*!40000 ALTER TABLE `dealers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispatch_items`
--

DROP TABLE IF EXISTS `dispatch_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispatch_items` (
  `dispatch_item_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_type` enum('FILLED','EMPTY') COLLATE utf8mb4_unicode_ci NOT NULL,
  `allocated_quantity` int NOT NULL COMMENT 'Initial quantity loaded',
  `sold_filled` int DEFAULT '0' COMMENT 'Total filled cylinders sold (exchange)',
  `sold_new` int DEFAULT '0' COMMENT 'Total new cylinders sold',
  `empty_collected` int DEFAULT '0' COMMENT 'Total empty cylinders collected',
  `damaged_quantity` int DEFAULT '0' COMMENT 'Total damaged (links to damage_inventory)',
  `returned_quantity` int GENERATED ALWAYS AS ((((`allocated_quantity` - `sold_filled`) - `sold_new`) - `damaged_quantity`)) STORED,
  PRIMARY KEY (`dispatch_item_id`),
  KEY `idx_dispatch` (`dispatch_id`),
  KEY `idx_product` (`product_id`),
  CONSTRAINT `dispatch_items_ibfk_1` FOREIGN KEY (`dispatch_id`) REFERENCES `dispatches` (`dispatch_id`) ON DELETE CASCADE,
  CONSTRAINT `dispatch_items_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispatch_items`
--

LOCK TABLES `dispatch_items` WRITE;
/*!40000 ALTER TABLE `dispatch_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `dispatch_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispatches`
--

DROP TABLE IF EXISTS `dispatches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispatches` (
  `dispatch_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_date` date NOT NULL DEFAULT (curdate()),
  `lorry_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `supervisor_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_route` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('SCHEDULED','IN_PROGRESS','COMPLETED','AWAITING_UNLOAD','UNLOADED','CANCELLED') COLLATE utf8mb4_unicode_ci DEFAULT 'SCHEDULED',
  `created_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`dispatch_id`),
  UNIQUE KEY `dispatch_number` (`dispatch_number`),
  KEY `created_by` (`created_by`),
  KEY `idx_dispatch_number` (`dispatch_number`),
  KEY `idx_status` (`status`),
  KEY `idx_date` (`dispatch_date`),
  KEY `idx_route` (`dispatch_route`),
  KEY `idx_lorry` (`lorry_id`),
  KEY `idx_supervisor` (`supervisor_id`),
  CONSTRAINT `dispatches_ibfk_1` FOREIGN KEY (`lorry_id`) REFERENCES `lorries` (`lorry_id`),
  CONSTRAINT `dispatches_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `supervisors` (`supervisor_id`),
  CONSTRAINT `dispatches_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispatches`
--

LOCK TABLES `dispatches` WRITE;
/*!40000 ALTER TABLE `dispatches` DISABLE KEYS */;
/*!40000 ALTER TABLE `dispatches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `inventory_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_type` enum('FILLED','EMPTY','DAMAGED') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'State of cylinders in warehouse',
  `quantity` int NOT NULL DEFAULT '0',
  `reorder_level` int DEFAULT '100',
  `last_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `managed_by` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  UNIQUE KEY `unique_product_type` (`product_id`,`product_type`),
  KEY `managed_by` (`managed_by`),
  KEY `idx_product` (`product_id`),
  KEY `idx_low_stock` (`quantity`),
  KEY `idx_type` (`product_type`),
  CONSTRAINT `inventory_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`) ON DELETE CASCADE,
  CONSTRAINT `inventory_ibfk_2` FOREIGN KEY (`managed_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_movements`
--

DROP TABLE IF EXISTS `inventory_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_movements` (
  `movement_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_type` enum('FILLED','EMPTY','DAMAGED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `movement_type` enum('Initial Stock','PURCHASE_RECEIVED','DISPATCH_LOADED','DISPATCH_RETURNED','DAMAGE_REPORTED','ADJUSTMENT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity_change` int NOT NULL COMMENT 'Positive for IN, Negative for OUT',
  `quantity_before` int NOT NULL,
  `quantity_after` int NOT NULL,
  `reference_id` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'dispatch_id, order_id, or damage_id based on movement_type',
  `created_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`movement_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_product` (`product_id`),
  KEY `idx_type` (`movement_type`),
  KEY `idx_date` (`created_at`),
  KEY `idx_reference` (`reference_id`),
  CONSTRAINT `inventory_movements_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`),
  CONSTRAINT `inventory_movements_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
INSERT INTO `inventory_movements` VALUES ('MOV_MNTWC8Q2VG476','P_MNTWC8PWX5EAU','FILLED','Initial Stock',180,0,180,'INITIAL_SEED','ADM_MNTWC838I99V0','2026-04-11 05:30:41'),('MOV_MNTWC8Q9CO09G','P_MNTWC8Q8CJ4MU','FILLED','Initial Stock',200,0,200,'INITIAL_SEED','ADM_MNTWC838I99V0','2026-04-11 05:30:41'),('MOV_MNTWC8QF9YNBG','P_MNTWC8QEDFKOR','FILLED','Initial Stock',150,0,150,'INITIAL_SEED','ADM_MNTWC838I99V0','2026-04-11 05:30:41'),('MOV_MNTWC8QKVABDL','P_MNTWC8QIWLRSL','FILLED','Initial Stock',90,0,90,'INITIAL_SEED','ADM_MNTWC838I99V0','2026-04-11 05:30:41');
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_items`
--

DROP TABLE IF EXISTS `invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_items` (
  `invoice_item_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sale_type` enum('FILLED','NEW') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'FILLED=exchange sale, NEW=first-time purchase',
  `quantity` int NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  `empty_returned` int DEFAULT '0' COMMENT 'Empty cylinders returned by dealer (for exchange sales)',
  PRIMARY KEY (`invoice_item_id`),
  KEY `idx_invoice` (`invoice_id`),
  KEY `idx_product` (`product_id`),
  KEY `idx_sale_type` (`sale_type`),
  CONSTRAINT `invoice_items_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`invoice_id`) ON DELETE CASCADE,
  CONSTRAINT `invoice_items_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_items`
--

LOCK TABLES `invoice_items` WRITE;
/*!40000 ALTER TABLE `invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `invoice_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `dealer_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `payment_type` enum('CASH','CHEQUE','CREDIT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `due_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `deleted_by` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`invoice_id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `idx_invoice_number` (`invoice_number`),
  KEY `idx_dealer` (`dealer_id`),
  KEY `idx_dispatch` (`dispatch_id`),
  KEY `idx_date` (`invoice_date`),
  KEY `idx_payment_type` (`payment_type`),
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`dealer_id`),
  CONSTRAINT `invoices_ibfk_2` FOREIGN KEY (`dispatch_id`) REFERENCES `dispatches` (`dispatch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lorries`
--

DROP TABLE IF EXISTS `lorries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lorries` (
  `lorry_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_model` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('AVAILABLE','ON_ROUTE','MAINTENANCE') COLLATE utf8mb4_unicode_ci DEFAULT 'AVAILABLE',
  `last_service_date` date DEFAULT NULL,
  `next_service_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`lorry_id`),
  UNIQUE KEY `vehicle_number` (`vehicle_number`),
  KEY `idx_vehicle_number` (`vehicle_number`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lorries`
--

LOCK TABLES `lorries` WRITE;
/*!40000 ALTER TABLE `lorries` DISABLE KEYS */;
/*!40000 ALTER TABLE `lorries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lorry_stock`
--

DROP TABLE IF EXISTS `lorry_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lorry_stock` (
  `lorry_stock_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dispatch_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_type` enum('FILLED','EMPTY') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Only FILLED and EMPTY tracked on lorry',
  `loaded_quantity` int NOT NULL DEFAULT '0' COMMENT 'Initial quantity loaded from warehouse',
  `sold_filled` int DEFAULT '0' COMMENT 'Quantity of filled cylinders sold (exchange)',
  `sold_new` int DEFAULT '0' COMMENT 'Quantity of new cylinders sold (first-time)',
  `empty_collected` int DEFAULT '0' COMMENT 'Empty cylinders collected from dealers',
  `damaged_quantity` int DEFAULT '0' COMMENT 'Quantity damaged during dispatch',
  `balance_quantity` int GENERATED ALWAYS AS ((((`loaded_quantity` - `sold_filled`) - `sold_new`) - `damaged_quantity`)) STORED COMMENT 'Auto-calculated remaining quantity',
  `last_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`lorry_stock_id`),
  UNIQUE KEY `unique_dispatch_product_type` (`dispatch_id`,`product_id`,`product_type`),
  KEY `idx_dispatch` (`dispatch_id`),
  KEY `idx_product_type` (`product_id`,`product_type`),
  CONSTRAINT `lorry_stock_ibfk_1` FOREIGN KEY (`dispatch_id`) REFERENCES `dispatches` (`dispatch_id`) ON DELETE CASCADE,
  CONSTRAINT `lorry_stock_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lorry_stock`
--

LOCK TABLES `lorry_stock` WRITE;
/*!40000 ALTER TABLE `lorry_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `lorry_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'GENERAL',
  `reference_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`notification_id`),
  KEY `idx_notifications_user_read` (`user_id`,`is_read`,`created_at` DESC),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `amount` decimal(12,2) NOT NULL,
  `payment_method` enum('CASH','CHEQUE','CREDIT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('COMPLETED','PENDING','CANCELLED') COLLATE utf8mb4_unicode_ci DEFAULT 'COMPLETED',
  `collected_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Can be admin or supervisor',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `payment_number` (`payment_number`),
  KEY `idx_payment_number` (`payment_number`),
  KEY `idx_invoice` (`invoice_id`),
  KEY `idx_date` (`payment_date`),
  KEY `idx_collector` (`collected_by`),
  KEY `idx_status` (`status`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`invoice_id`),
  CONSTRAINT `payments_ibfk_2` FOREIGN KEY (`collected_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_items`
--

DROP TABLE IF EXISTS `po_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `po_items` (
  `order_item_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `purchase_type` enum('FILLED','NEW') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'FILLED' COMMENT 'FILLED=refill empties, NEW=buy new cylinders',
  `ordered_quantity` int NOT NULL,
  `received_quantity` int DEFAULT '0',
  `unit_price` decimal(10,2) NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  PRIMARY KEY (`order_item_id`),
  KEY `idx_order` (`order_id`),
  KEY `idx_product` (`product_id`),
  CONSTRAINT `po_items_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `purchase_orders` (`order_id`) ON DELETE CASCADE,
  CONSTRAINT `po_items_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_items`
--

LOCK TABLES `po_items` WRITE;
/*!40000 ALTER TABLE `po_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g., CYL-5KG, CYL-12KG',
  `cylinder_size` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g., 2kg, 5kg, 12.5kg, 37.5kg',
  `filled_purchase_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Price to buy filled cylinder (refill) from supplier',
  `new_purchase_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Price to buy brand new cylinder from supplier',
  `filled_selling_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Price for gas refill (exchange sale)',
  `new_selling_price` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Price for new cylinder (first-time sale)',
  `status` enum('ACTIVE','DISCONTINUED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`product_id`),
  UNIQUE KEY `product_code` (`product_code`),
  KEY `idx_product_code` (`product_code`),
  KEY `idx_cylinder_size` (`cylinder_size`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
INSERT INTO `products` VALUES ('P_MNTWC8PWX5EAU','CYL-2KG','2kg',300.00,600.00,400.00,700.00,'ACTIVE','2026-04-11 05:30:41','2026-04-11 05:30:41'),('P_MNTWC8Q8CJ4MU','CYL-5KG','5kg',500.00,1000.00,700.00,1400.00,'ACTIVE','2026-04-11 05:30:41','2026-04-11 05:30:41'),('P_MNTWC8QEDFKOR','CYL-12.5KG','12.5kg',1000.00,2000.00,1200.00,2400.00,'ACTIVE','2026-04-11 05:30:41','2026-04-11 05:30:41'),('P_MNTWC8QIWLRSL','CYL-37.5KG','37.5kg',3000.00,7000.00,4500.00,8500.00,'ACTIVE','2026-04-11 05:30:41','2026-04-11 05:30:41');
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `order_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_date` date NOT NULL DEFAULT (curdate()),
  `expected_delivery_date` date NOT NULL,
  `actual_delivery_date` date DEFAULT NULL,
  `supplier` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'Laugfs Gas PLC',
  `supplier_contact` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subtotal` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('PENDING','APPROVED','RECEIVED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `supplier_invoice_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approved_by` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `received_by` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`order_id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `created_by` (`created_by`),
  KEY `approved_by` (`approved_by`),
  KEY `received_by` (`received_by`),
  KEY `idx_order_number` (`order_number`),
  KEY `idx_status` (`status`),
  KEY `idx_order_date` (`order_date`),
  CONSTRAINT `purchase_orders_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `purchase_orders_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `purchase_orders_ibfk_3` FOREIGN KEY (`received_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisor_locations`
--

DROP TABLE IF EXISTS `supervisor_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supervisor_locations` (
  `supervisor_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `latitude` decimal(10,8) NOT NULL,
  `longitude` decimal(11,8) NOT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`supervisor_id`),
  CONSTRAINT `supervisor_locations_ibfk_1` FOREIGN KEY (`supervisor_id`) REFERENCES `supervisors` (`supervisor_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisor_locations`
--

LOCK TABLES `supervisor_locations` WRITE;
/*!40000 ALTER TABLE `supervisor_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `supervisor_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisors`
--

DROP TABLE IF EXISTS `supervisors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supervisors` (
  `supervisor_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `achieved_sales` decimal(12,2) DEFAULT '0.00',
  `monthly_target` decimal(12,2) DEFAULT '0.00',
  `status` enum('AVAILABLE','ON_DUTY','OFF_DUTY') COLLATE utf8mb4_unicode_ci DEFAULT 'AVAILABLE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`supervisor_id`),
  KEY `idx_supervisor_status` (`status`),
  CONSTRAINT `supervisors_ibfk_1` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisors`
--

LOCK TABLES `supervisors` WRITE;
/*!40000 ALTER TABLE `supervisors` DISABLE KEYS */;
/*!40000 ALTER TABLE `supervisors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_number` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('ADMIN','SUPERVISOR') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('ACTIVE','INACTIVE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'INACTIVE',
  `created_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login` datetime DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `reset_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reset_token_expires` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_username` (`username`),
  KEY `idx_email` (`email`),
  KEY `idx_role` (`role`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('ADM_MNTWC838I99V0','admin_official','Hidellana','Admin','$2b$10$ejccEv4Q.OT1RvlO4cuVh.eH.Rf2vjSkvJN.1kylbJ5nVCXyBhFFq','distributors.hidellana@gmail.com',NULL,'ADMIN','ACTIVE','2026-04-11 11:00:41','2026-04-12 10:05:27','2026-04-12 04:35:27',NULL,NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12 23:57:42
